body{
    padding: 0%;
    margin: 0%;
}

.nav-link{
    color: #DEF2F1;
}
.nav-item{
    color: #DEF2F1;
}

.nav-link:after{
    content: '';
    display: block;
      border-bottom: 2px solid #F76C6C;/*#38fd07*/
      transform: scaleX(0);
      transition: .2s ease-in-out;
      
  }
    .nav-link:hover:after{
       transform: scaleX(1);
    }
    .nav-link:hover{
        color: #F8E9A1 !important;
    }
#bg{
    width: 100%;
}

#navigation{
    background-color:#2B7A78 !important ;
}
body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  
}
body::-webkit-scrollbar
{
  width: 14px;
}

body::-webkit-scrollbar-thumb
{
  
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.5);
  background:  #17252A;
}
.card-deck{
    padding: 0%;
}
.card-img-top{
    margin:0%;

}

.card{
    border-radius: 5% !important;
}

.card-body{
    text-align: center !important;
}

 @media (max-width: 1000px) {
    #bgb{
        display: none !important;
    }
    #hometxt{
        margin-top: 8%;
    }
    #bg{
        margin:-5%
    }
    .card{
        margin-top: 5% !important;
        margin-left: 15%;
        margin-right: 25%;
        text-align: center;
    }
    
 }

@media (min-width:700px) and (max-width:1000px){
    #cd1{
        margin-left: 7% !important;
    }
    /* #cd2{

    } */
    #cd3{
        margin-right: 7% !important;
    }
}

.msg{
    color: white;
}

 @media only screen and (min-width: 1000px){
    #bg{
        display: none;
    }
    #hometxt{
        margin-top: 8%;
    }
    #bgb{
        margin-top:-5%;
        margin-right: -5%;
        display: block;
    }
    .card{
        width: 30% !important;
        margin-top: 5% !important;
        text-align: center;
    }
    #cd1{
        margin-left: 7% !important;
    }
    #cd3{
        margin-right: 7% !important;
    }

 }
